{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class = "container">
        <div class="row">
            <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">ACTIVIDADES ADICIONALES</h2>
            <p class="blog-post-meta">{% now "j F Y g:i a" %}</p>

            {% for act in Actividad %}
                <blockquote><p>{{ act.actividad }}</p></blockquote>
            {% endfor %}

          </div><!-- /.blog-post -->

                <nav>
                <ul class="pager">
                    <li><a href="{% url 'formesp' %}">Previo</a></li>
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                </ul>
                </nav>
            

            </div><!-- /.blog-main -->

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

            </div><!-- /.blog-sidebar -->

        </div><!-- /.row -->
    </div>
{% endblock %}